@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #122241;
  --secondary-color: #293243;
  --accent-color: #ff6600;
  --neutral-color: #f8f8f8;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: var(--primary-color);
  background-color: var(--neutral-color);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

h1 {
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--primary-color);
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--primary-color);
}

p {
  margin-bottom: 1rem;
  line-height: 1.5;
  color: var(--secondary-color);
  text-align: justify;
}

img {
  float: left;
  margin-right: 0.75rem;
}

.hr-dots {
  background: linear-gradient(
    to right,
    var(--secondary-color),
    var(--neutral-color)
  );
  margin-bottom: 0.75rem;
  height: 3px; /* Adjust the height value as needed */
}

.hr-dots-dashed {
  border-top: 1px dashed var(--accent-color); /* Use a dashed line for line break */
}
