@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #25476d;
  --accent-color: #ffd700;
  --neutral-color: #f8f8f8;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: var(--primary-color);
  background-color: var(--neutral-color);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary-color);
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
}

h3 {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--primary-color);
}

p {
  margin-bottom: 1rem;
  line-height: 1.5;
  color: var(--primary-color);
}

.p-justify {
  text-align: justify;
}

.hr-dots {
  background-color: var(--accent-color); /* Use a solid color for line break */
}

.hr-dots-dashed {
  border-top: 1px dashed var(--accent-color); /* Use a dashed line for line break */
}
